* {
    box-sizing: border-box;
    --dark-text: #000000;
    --entry-light-text: #ffffff;
}
            
.entry {
    display:flex;
    flex-direction:row;
    
    max-width:90vw;
    margin:0 0 10px 10vw;
    padding:0 10vw 0 0;
    background-color: #f7f7f700;
    /* background-color: #F9F7F0; */
    font-family:Inter;
    overflow:hidden;
    /* position:sticky; */
    max-height: calc(100vh - 40px);
    overflow:auto;
}

.entries {
    margin: 10px 10vw 10px 10vw;
    width:90vw;
}

.entries-layout {
    display:flex;
    flex-direction:row;
    justify-content: center;
    position: sticky;
    max-height: calc(100vh - 100px);
    overflow-y:auto;
    overflow-x:hidden;
}

.entries-outlet {
    position:sticky;
}

.table-of-contents {
    display:block;
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 24px; /* How far down the page you want your ToC to live */
    margin: 10px 0vw 10px 5vw;
    padding: 10px;
    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 40px);
    width:20vw;
    overflow: auto;
}

.headings-li {
    display:flex;
    flex-direction:column;
    margin: 10px 0vw 10px 0vw;
    font-weight:700;
    font-size:1.5rem;
}

.entry-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .entry-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .entry-exit {
    opacity: 1;
  }

/* .entry:hover .entry--overlay{
    opacity: 1;
} */

.entry--overlay-container {
    position: relative;
    display:block;
    width:40vw;
    max-width:600px;
    align-self:center;
    flex-shrink:0;
    min-width:20%;
    width:80%;
    height:40vh;
    overflow:hidden;
    margin:10px 20px ;
    padding:0 0;
    border-radius: 10px;
}

.entry--overlay-icon {
    color:var(--entry-light-text);
    font-size:3rem;
}

.entry--overlay-container-big {
    width: 15vw;
    max-width:600px;
    opacity: 1;
}

.entry--overlay {
    position: absolute;
    /* transform: rotate(45deg); */
    right:0;
    bottom:0;
    overflow: hidden;
    width: 70px;
    height: 50px;
    /* transition: .1s ease; */
    /* background-color: #f9f7f086; */
    /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, green 50%, green 100%); */
    border-radius:50%;
  }

.entry--dark {
    background-color:#333333;
    color:var(--entry-light-text);
}
.entry--img-container{
    display:flex;
    background-color:#ebe9e6;
    flex-direction: column;
    justify-content: center;
    height:auto;
    border-radius: 10px;
    margin:0 0 20px 0;
    padding:0 0 ;
}

.entry--img-container-dark{
    background-color:#474747;
}
.entry--img {
    position:float;
    width:100%;
    height:100%;
    object-fit:cover;

    margin:0 0;
    padding:0 0;
}

.entry--vimeo-fixed-aspect {
    grid-column: span 5;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    border-radius: 10px;
    margin:5px 0px;
    justify-content: left;
    /* overflow:hidden; */
}

.entry--vimeo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding:0 0;
    margin:0 0;
    padding-bottom:20px;
}

.entry--img-inline {
    width:1fr;
    border-radius:10px;
    grid-column: span 2;
    /* height:30vh; */
    object-fit: cover;
    margin-bottom:10px;
}

.entry--grid {
    display:grid;
    width:60vw;
    /* grid-template-columns: masonry; */
    grid-template-columns: repeat(5, 1fr);
    margin:0 0 20px 0;
    padding:20px 20px 0 0;
    /* padding-left:0px; */
    justify-content: space-evenly;
    grid-auto-flow: row;
}

.entry--col {
    display:flex;
    flex-direction:column;
    margin:0 0;
    padding:20px 20px;
    justify-content: center;
}

.entry--row {
    display:flex;
    flex-direction:row;
    margin:0 0;
    padding:20px 20px;
    justify-content: center;
}

.entry--icon {
    font-size:1.0rem;
    padding-right:5px
}

.entry--title {
    font-weight:700;
    font-size:1.8rem;
    padding-bottom:15px;
    grid-column: span 5;
    color:var(--dark-text);
}

.entry--title-dark {
    color:var(--entry-light-text);
}

.entry--date {
    font-weight:600;
    font-size:1rem;
    padding-bottom:15px;
}

.entry--collapse {
    flex-direction: row;
}

.entry--text {
    font-weight:400;
    font-size:1.5rem;
    /* padding-block:20px; */
    margin: 0 0;
    padding-bottom:15px;
    grid-column: span 5;
}

.entry--subtitle {
    font-weight:700;
    font-size:1.5rem;
    padding:15px 0 5px 0;
    grid-column: span 5;
}
@media screen and (max-width: 1224px) {
    .entry--overlay-container-big  {
        width:100%;
        max-width:100%;
    }

    .entry--overlay-container {
        width:100%;
        margin:0 0;
    }

    .entry {
        display:flex;
        flex-direction:column;
        overflow:hidden;
    }
    /* just use a column.. */
    .entry--grid {
        display:flex;
        flex-direction:column;
        margin:0 0;
        padding:20px 20px;
        justify-content: center;
    }
    .entry--text {
        font-weight:400;
        font-size:1rem;
        padding-block:10px;
        padding-bottom:5px;
    }
    .entry--img-inline {
        width:100%;
        height:30vh;
        object-fit: cover;
        grid-column: span 1;
        grid-row: span 1;
    }

    .entry--img {
        width:100%;
        max-width:100%;
        padding:0px;
        border-radius: 10px;
    }

    .entries {
        margin: 10px 10px;
    }

    .entry--title {
        font-weight:700;
        font-size:1.5rem;
        padding-bottom:0px;
        grid-column: span 5;
    }
  }