* {
    box-sizing: border-box;
}
            
.entry {
    display:flex;
    flex-direction:row;
    overflow:hidden;
    
    margin:0 0;
    padding:20px 0;
    background-color: #F9F7F0;
    font-family:Inter;
}

.entries {
    margin: 0 10vw;
}

.entry-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .entry-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .entry-exit {
    opacity: 1;
  }

/* .entry:hover .entry--overlay{
    opacity: 1;
} */

.entry--overlay-container {
    position: relative;
    display:block;
    width:40vw;
    max-width:600px;
    align-self:center;
    flex-shrink:0;
    min-width:20%;
    width:80%;
    height:40vh;
    overflow:hidden;
    margin:20px 20px ;
    padding:0 0;
    border-radius: 10px;
}

@media screen and (max-width: 1224px) {
    .entry--overlay-container {
        width:100%;
        margin:0 0;
    }}



.entry--overlay-icon {
    color:#F9F7F0;
    font-size:3rem;
}

.entry--overlay-container-big {
    width: 20vw;
    max-width:600px;
    opacity: 1;
}

@media screen and (max-width: 1224px) {
    .entry--overlay-container-big  {
        width:100%;
        max-width:100%;
    }
  }

.entry--overlay {
    position: absolute;
    /* transform: rotate(45deg); */
    right:0;
    bottom:0;
    overflow: hidden;
    width: 70px;
    height: 50px;
    /* transition: .1s ease; */
    /* background-color: #f9f7f086; */
    /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, green 50%, green 100%); */
    border-radius:50%;
  }

@media screen and (max-width: 1224px) {
    .entry {
        display:flex;
        flex-direction:column;
        overflow:hidden;
    }
  }

.entry--dark {
    background-color:#333333;
    color:#cecece;
}
.entry--img-container{
    display:flex;
    background-color:#ebe9e6;
    flex-direction: column;
    justify-content: center;
    height:auto;
    border-radius: 10px;
    margin:0 0;
    padding:0 0;
}

.entry--img-container-dark{
    background-color:#474747;
}
.entry--img {
    position:float;
    width:100%;
    height:100%;
    object-fit:cover;

    margin:0 0;
    padding:0 0;
}

.entry--vimeo-fixed-aspect {
    grid-column: span 5;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    border-radius: 10px;
    margin:5px;
    /* overflow:hidden; */
}

.entry--vimeo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.entry--img-inline {
    width:20vw;
    border-radius:10px;
    grid-column: span 2;
    /* height:30vh; */
    object-fit: cover;
}

.entry--grid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:0 0;
    padding:20px 20px;
    padding-left:40px;
    justify-content: center;
    grid-auto-flow: row;
}

.entry--col {
    display:flex;
    flex-direction:column;
    margin:0 0;
    padding:20px 20px;
    justify-content: center;
}

.entry--row {
    display:flex;
    flex-direction:row;
    margin:0 0;
    padding:20px 20px;
    justify-content: center;
}

.entry--icon {
    font-size:1.0rem;
    padding-right:5px
}

.entry--title {
    font-weight:700;
    font-size:1.5rem;
    padding-bottom:15px;
    grid-column: span 5;
}

.entry--date {
    font-weight:600;
    font-size:1rem;
    padding-bottom:15px;
}

.entry--collapse {
    flex-direction: row;
}

.entry--text {
    font-weight:400;
    font-size:1.5rem;
    padding-block:20px;
    padding-bottom:15px;
    grid-column: span 5;
}

.entry--subtitle {
    font-weight:700;
    font-size:1.5rem;
    padding-block:15px;
    grid-column: span 5;
}


@media screen and (max-width: 1224px) {
    /* just use a column.. */
    .entry--grid {
        display:flex;
        flex-direction:column;
        margin:0 0;
        padding:20px 20px;
        justify-content: center;
    }
    .entry--text {
        font-weight:400;
        font-size:1rem;
        padding-block:10px;
        padding-bottom:5px;
    }
    .entry--img-inline {
        width:100%;
        height:200px;
        object-fit: cover;
        grid-column: span 1;
        grid-row: span 1;
    }

    .entry--img {
        width:100%;
        max-width:100%;
        padding:0px;
        border-radius: 10px;
    }

    .entries {
        margin: 10px 10px;
    }
  }