.expand--anchor {
    color:cornflowerblue;
    text-decoration: underline;
    cursor:pointer;
}

.expand--anchor:hover {
    color:rgb(68, 105, 172);
}

.expand--block {
    background-color:rgb(228, 228, 228);
    border-radius:10px;
}