.expand--anchor {
    /* color:cornflowerblue; */
    color:black;
    text-decoration: underline;
    cursor:pointer;
}

.expand--anchor:hover {
    /* color:rgb(68, 105, 172); */
    color:grey;
}

.expand--collapsed {
    grid-column: span 5;
    margin-block: 10px;
}

.expand--block {
    background-color:rgb(228, 228, 228);
    border-radius:10px;
    transform-origin: top center;
}

.expand--code {
    font-family: "Source Code Pro", monospace;
    display:inline-block;
    background-color: rgb(232, 232, 232);
    border-radius:4px;
    padding-inline:6px;
}

.expand--codeblock {
    font-family: "Source Code Pro", monospace;
}