.threescene--div {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #ededed; /* #F9F7F0; */
    padding-block:20px;
    margin:auto;
    width:30vw;
}

.threescene--scene {
    width: 30vw;
    height: 30vw;
}

.threescene--title {
    font-family:Inter;
    font-weight:700;
    font-size:1.5rem;
    margin:0 0;
}

.threescene--button {
    margin:5px 5px;
    padding:8px 8px;
    font-size:2.0 rem;
    color:white;
    background-color:rgb(29, 136, 244);
    border-radius: 10px;
    border:none;
}
.threescene--button:hover {
    background-color:rgb(26, 110, 193);
}
/* .threescene--button:after {
    border-color:rgb(112, 177, 241);
    border:10px;
} */

.threescene--slider-div {
    display: flex;
    flex-direction:row;
    width: 8vw; 
    align-content:center;
    justify-content: center;
    transform: scale(2); 
    transform-origin:top center;
    margin-block: 0px; 
    margin-bottom:15px;
}

@media screen and (max-width: 1224px) {
    .threescene--scene {
        width: 90vw;
        height: 90vw;
    }

    .threescene--slider-div {
        width:30vw;
    }

    .threescene--div {
        width:90vw;
    }
}