.about-card {
    display:flex;
    
    flex-direction:column;
    width:50vw;
    max-width: 400px;
    align-items:center;
    flex-shrink:initial;
    margin:40px auto;
    background-color:#F5F5F5;
    
    border-radius: 20px;
    overflow:hidden;
    font-family: Inter;
}

@media screen and (max-width: 1224px) {
    .about-card {
        width:80vw;
        max-width: 80vw;
        margin: 20px auto;
    }
}

.about-card--dark {
    background-color:#333333;
    color:#cecece;
}

.info--img >img {
    width:100%;
    object-fit:cover;
    margin-top:-80%;
    margin-bottom:-20%;
}

.info--img {
    position:relative;
    width:100%;
    padding-top:50%;
    overflow:hidden;

}

.info {
    text-align:center;
}

.info--name {
    padding-top: 20px;
    font-weight:600;
    font-size:1.4rem;
}

.info--title {
    font-weight:300;
    font-size:1.1rem;
    color: #9972e0;
}

.info--link{
    font-weight:300;
    font-size:1rem;
}

.info--item {
    font-family: 'Inter', sans-serif;
    margin:5px;
}

.about {
    margin:20px 40px;
    text-align:left;
    padding:0;
}

.about--header {
    padding:0;
    margin:10px 0px;
    font-weight:600;
    font-size:1.2rem;
    line-height:1.1rem;
}

.about--text {
    padding:0;
    margin:0;
    font-weight:300;
    font-size: 0.9rem;
    line-height:1.1rem;
}

.interests {
    margin:20px 40px;
    text-align:left;
    padding:0;
}

.interests--header {
    padding:0;
    margin:10px 0px;
    font-weight:600;
    font-size:1.2rem;
    line-height:1.0rem;
}

.interests--text {
    padding:0;
    margin:0;
    font-weight:300;
    font-size: 0.9rem;
    line-height:1.1rem;
}

.footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
}

.material-icons-round {
    width:40px;
    /* justify-self:right; */
}