.express--main {
    color:black;
    width:30vw;
}

.express--main input {
    grid-column: span 2;
}
.express--main label {
    grid-column: span 2;
}

.express--main form {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:3px;
}

.express--response {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px; /* Space between columns and rows */
    padding: 10px;
    border: 1px solid #ccc;
    width:fit-content;
  }
  
  .express--response-query {
    display: flex;
    flex-direction: column;
  }
  .express--response-query::before {
    content: "Hand";
    font-weight: bold;
    margin-bottom: 5px;
  }
  .express--response-tiles {
    display: flex;
    flex-direction: row;
    font-size: 300%;
    white-space: nowrap;
    width:fit-content;
    margin: -10px 0 3px 0;
  }

  .express--response-tests,
  .express--response-results {
    display: flex;
    flex-direction: column;
  }
  
  .express--response-tests::before {
    content: "Tests";
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .express--response-results::before {
    content: "Results";
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Styling the individual items */
  .express--response p {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }