.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#9c7add;
    margin:0;
    padding:20px;
    color:#F9F7F0;
}

.is-nav-open {
    /* padding:0px; */
}

.header--dark {
    background-color:#3c1f75;
}

.header--icon {
    width:30px;
    font-size:27px;
    margin-inline:1vw;
}

.header--title {
    font-family:'Signika Negative';
    font-weight:600;
    letter-spacing: 0.1rem;
}

.header--subtitle {
    font-family:Inter;
    margin-inline:5vw;
    font-weight:200;
    font-size:1.1rem;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px 25px;
    height: 60px;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    z-index: 1;
}

.nav--dark {
}

.nav--title {
    color: #DEEBF8;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 1rem;
    font-weight: 600;
}

.toggler--slider {
    width: 39px;
    height: 20px;
    background-color: #50477a;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(94, 67, 129);
    box-sizing: content-box;
}

.nav--dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 19px;
    width: 19px;
    background-color: white;
    border-radius: 50%;
}

.nav--dark .toggler--slider--circle {
    background-color: #50477a;
}

.toggler--light {
    color: #45405a;
}

.nav--dark .toggler--light {
    color: #dfdfdf;
}

.toggler--dark {
    color: #403a55;
}

.nav--dark .toggler--dark {
    color: #b8b8b8;
}

.nav--dark .toggler--slider {
    justify-content: flex-end;
}