.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#a7cdbd;
    margin:0 0;
    padding:20px;
    color:#F9F7F0;
}

.is-nav-open {
    /* padding:0px; */
}

.header--dark {
    background-color:#1d3227;
}

.header--icon {
    width:30px;
    font-size:27px;
    margin-block:0;
    margin-inline:1vw;
}

.header--title {
    font-family:'Signika Negative';
    font-weight:600;
    letter-spacing: 0.1rem;
    margin-block:0;
    color:#506c61;
}

.header--title-dark {
    color:#ffffff;
}

.header--subtitle {
    font-family:'Inter';
    font-style: italic;
    margin-block:0;
    margin-inline:5vw;
    font-weight:400;
    font-size:1.4rem;
    color:#506c61;
}

.header--subtitle-dark {
    color:#ffffff;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px 25px;
    height: 60px;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    z-index: 1;
}

.nav--home {
    display:flex;
    flex-direction: row;
    color:#506c61;
    align-items: center;
}

.nav--home-dark {
    color:#ffffff;
}

.nav--row {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.nav--item {
    padding:20px 20px;
    font-family: Inter;
    color: #506c61;
    font-size:1.5rem;
    font-weight:500;
}

.nav--item-dark {
    color:#ffffff;
}

.nav--item:hover {
    color:#37837d;
}

.nav--dark {
}

.nav--title {
    color: #DEEBF8;
}

.toggler {
    display: flex;
    align-items: center;
    /* padding:20px 20px; */
    padding-inline:20px;
}

.toggler p {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    margin-block:0;
}

.toggler--slider {
    width: 39px;
    height: 20px;
    background-color: #386b63;
    border-radius: 2rem;
    margin-inline: 7px;
    margin-block:0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #386b63;
    box-sizing: content-box;
}

.nav--dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 19px;
    width: 19px;
    background-color: white;
    border-radius: 50%;
}

.nav--dark .toggler--slider--circle {
    background-color: #386b63;
}

.toggler--light {
    color: #506c61;
    /* color: #45405a; */
}

.nav--dark .toggler--light {
    color: #dfdfdf;
}

.toggler--dark {
    color: #506c61;
    /* color: #403a55; */
}

.nav--dark .toggler--dark {
    color: #b8b8b8;
}

.nav--dark .toggler--slider {
    justify-content: flex-end;
}


@media screen and (max-width: 1224px) {
    .header {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
    }

    .header--title {
        margin-block:10px;
    }

    .header--subtitle {
        font-family:'Inter';
        font-style: italic;
        margin-inline:5vw;
        font-weight:200;
        font-size:1rem;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        height:fit-content;
        padding-block: 10px;
        z-index: 1;
    }    

    .nav--item {
        padding:5px 5px;
        font-size:1.2rem;
        font-weight:500;
    }

    .toggler p {
        font-size: 0.8rem;
        font-weight: 600;
    }
  }