.threefiber--div {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #ededed; /* #F9F7F0; */
    padding-block:20px;
    margin:auto;
    width:auto;
    height:500px;
}
