
* {
    box-sizing: border-box;
    /* padding: 0 0;
    margin: 0 0; */
}

html {
    padding: 0 0;
    margin: 0 0;
}

p {
    padding:0;
    margin:0;
}

h1 {
    padding:0;
    margin:0;
}

h2 {
    padding:0;
    margin:0;
}

h3 {
    padding:0;
    margin:0;
}

hr {
    width:60vw;
    text-align:center;
    /* height:1px; */
    /* color:blue; */
    /* border-color:lightgrey; */
    border-top: 1px solid lightgrey;
}

body {
    padding:0 0;
    margin:0 0;
}

main {
    padding-top:80px; 
    margin: 0 0;
    margin-bottom:-50px;
    height:100vh;
}

.App {
  /* padding: 10vw;
  padding-block: 2vh; */
  /* display:inline-block; */
  position:relative;
  width:100%;
  height:minmax(100vh, 200vh);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0;
  padding:0 0;
  background-color: #f5f5f5;
}

.App--dark {
    background-color: #1c1c1c;
}

.demo-title {
    font-family: 'Inter', sans-serif;
    font-weight:600;
    font-size:2rem;
    color:#F5F5F5;
 }

.demo-text {
   font-family: 'Inter', sans-serif;
   font-weight:300;
   color:#F5F5F5;
}

.demo-img {
    width:50vw;
    min-width:200px;
}